.nav {
  display: flex;
  align-items: center;
  color: black; 
  padding: 2.5rem 4rem;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem; 
}

.navItem {
  font-size: 0.85rem;
  display: block;
  transition: color 0.2s ease-in;
  color: black;
}

.navItem:hover {
  display: block;
  color: var(--primaryColour);
}

.brandContainer {
  text-align: center;  
  justify-content: start;
  align-items: start; 
}

.brandMainText {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.brandSubText {
  font-size: 0.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(42, 42, 42);
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

.favoriteContainer,
.cartContainer {
  position: relative;
}
.favoriteContainer p,
.cartContainer p {
  position: absolute;
  top: -80%;
  left: 1rem;
}
