.container {
  align-items: center;
  align-content: center;
  position: relative;
  cursor: pointer;
}

.iconBackground {
  background-color: #ffce53;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  margin: 0 auto;
  z-index: 0;
}

.countText {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: -1.2rem;
  right: -1rem;
}

.iconContainer {
  z-index: 0;
  position: relative;
}

.iconStyle {
  top: 0;
  position: absolute;
  left: 0.5rem;
  z-index: 2;
}
