

/* Extra Small Devices (Phones) - Less than 576px */
@media (max-width: 575.98px) {
  .container {
    min-height: 350px;
    background-color: #fecd4e;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    margin-bottom: 15px;
   
  }
  .gitBoxImageContainer {
    position: relative;
    width: 10rem;
    min-height: 10rem;
    margin-inline: auto;
  }
  .bigWhiteCircle {
    width: 8rem;
    height: 8rem;
    background-color: #fff;
    margin-inline: center;
    position: relative;
    border-radius: 100%;
  }
  .container img {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: -1rem;
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
  }

  .itemContainer h1,
  p,
  input {
    margin-bottom: 1.4rem;
  }

  .itemContainer h1 {
    font-size: 1rem;
  }
  .itemContainer p {
    font-family: "poppins", sans-serif;
    font-size: 0.694rem;
    color: #505050;
  }

  .itemContainer input {
    background-color: #fecd4e;
    border-width: 0 0 1.5px 0;
    padding: 8px 4px 8px 4px;
    border-color: #000;
    margin-bottom: 2.4rem;
  }

  .itemContainer input::placeholder {
    color: #555555;
    margin-left: 5px;
    font-size: 0.694rem;
  }

  .smallWhiteCircle {
    background-color: #ffffff;
    right: 20px;
    bottom: 20px;
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
  }
}

/* Small Devices (Tablets) - 576px to 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    min-height: 300px;
    background-color: #fecd4e;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }
  .gitBoxImageContainer {
    position: relative;
    min-height: 10rem;
    margin-inline: auto;
  }
  .bigWhiteCircle {
    width: 10rem;
    height: 10rem;
    background-color: #fff;
    margin-inline: center;
    position: relative;
    border-radius: 100%;
    margin-top: 1rem;
  }
  .container img {
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
    margin: 5rem;
  }

  .itemContainer h1,
  p,
  input {
    margin-bottom: 1.4rem;
  }

  .itemContainer h1 {
    font-size: 1.2rem;
  }
  .itemContainer p {
    font-family: "poppins", sans-serif;
    font-size: 0.72rem;
    color: #505050;
  }

  .itemContainer input {
    background-color: #fecd4e;
    border-width: 0 0 1.5px 0;
    padding: 8px 4px 8px 4px;
    border-color: #000;
    margin-bottom: 2.4rem;
  }

  .itemContainer input::placeholder {
    color: #555555;
    margin-left: 5px;
  }

  .smallWhiteCircle {
    background-color: #ffffff;
    right: 20px;
    bottom: 20px;
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
  }
}

/* Medium Devices (Laptops, Small Desktops) - 768px to 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    min-height: 300px;
    background-color: #fecd4e;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }
  .gitBoxImageContainer {
    position: relative;
    min-height: 10rem;
    margin-inline: auto;
  }
  .bigWhiteCircle {
    width: 10rem;
    height: 10rem;
    background-color: #fff;
    margin-inline: center;
    position: relative;
    border-radius: 100%;
    margin-top: 1rem;
  }
  .container img {
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
    margin: 5rem;
  }

  .itemContainer h1,
  p,
  input {
    margin-bottom: 1.4rem;
  }

  .itemContainer h1 {
    font-size: 1.2rem;
  }
  .itemContainer p {
    font-family: "poppins", sans-serif;
    font-size: 0.72rem;
    color: #505050;
  }

  .itemContainer input {
    background-color: #fecd4e;
    border-width: 0 0 1.5px 0;
    padding: 8px 4px 8px 4px;
    border-color: #000;
    margin-bottom: 2.4rem;
  }

  .itemContainer input::placeholder {
    color: #555555;
    margin-left: 5px;
  }

  .smallWhiteCircle {
    background-color: #ffffff;
    right: 20px;
    bottom: 20px;
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
  }
}

/* Large Devices (Desktops) - 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    min-height: 350px;
    background-color: #fecd4e;
    display: flex;
    position: relative;
    margin: 6rem 6rem 6rem 10rem;
  }

  .bigWhiteCircle {
    width: 12rem;
    height: 12rem;
    background-color: #fff;
    margin-inline: center;
    border-radius: 100%;
    margin: 1rem 0 0 1rem;
  }
  .container img {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: -2rem;
    left: -8rem;
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }

  .itemContainer h1,
  p,
  input {
    margin-bottom: 1.4rem;
  }

  .itemContainer h1 {
    font-size: 1.3rem;
  }
  .itemContainer p {
    font-family: "poppins", sans-serif;
    font-size: 0.694rem;
    color: #505050;
  }

  .itemContainer input {
    background-color: #fecd4e;
    border-width: 0 0 1.5px 0;
    padding: 8px 4px 8px 4px;
    border-color: #000;
    margin-bottom: 2.4rem;
  }

  .itemContainer input::placeholder {
    color: #555555;
    margin-left: 5px;
  }

  .smallWhiteCircle {
    background-color: #ffffff;
    right: 20px;
    bottom: 20px;
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
  }
}

/* Extra Large Devices (Large Desktops, TVs) - 1200px and larger */
@media (min-width: 1200px) {
  .container {
    min-height: 350px;
    background-color: #fecd4e;
    display: flex;
    position: relative;
    margin: 6rem 3rem 6rem 7rem;
  }

  .bigWhiteCircle {
    width: 13rem;
    height: 13rem;
    background-color: #fff;
    margin-inline: center;
    border-radius: 100%;
    margin: 1rem 0 0 1rem;
  }
  .container img {
    width: 21rem;
    height: 21rem;
    position: absolute;
    top: -2rem;
    left: -8rem;
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
    padding: 3rem 8rem 3rem 4rem;
  }

  .itemContainer h1,
  p,
  input {
    margin-bottom: 1.4rem;
  }

  .itemContainer h1 {
    font-size: 1.3rem;
  }
  .itemContainer p {
    font-family: "poppins", sans-serif;
    font-size: 0.833rem;
    color: #505050;
  }

  .itemContainer input {
    background-color: #fecd4e;
    border-width: 0 0 1.5px 0;
    padding: 8px 4px 8px 4px;
    border-color: #000;
    margin-bottom: 2.4rem;
  }

  .itemContainer input::placeholder {
    color: #555555;
    margin-left: 5px;
    font-size: 0.833rem;
  }

  .smallWhiteCircle {
    background-color: #ffffff;
    right: 20px;
    bottom: 20px;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }
}
