.container {
  display: flex;
  flex-direction: column; 
  margin-top: 5rem;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 3rem 1rem;
}

 
