.container {
  display: grid;
  display: flex;
  column-gap: 10px;
  height: 600px;
}
.cicle {
  position: absolute;
  right: 20px;
}

.image {
  position: absolute;
  width: 130%;
  left: 0;
  bottom: -20px;
  transform: rotate(45deg);
  margin-left: -25%;
}

.right {
  background-color: #5dd4a5;
  flex: 1;
}
