.container {
  display: grid;
  display: flex;
  column-gap: 10px;
  height: 600px;
  padding: 1rem 3rem;
}

.left {
  background: rgb(227, 227, 227);
  overflow: hidden;
  flex: 0.5;
  position: relative;
}

.right {
  background-color: #ffce53;
  flex: 1;
  position: relative;
}

.circleContainer {
  position: absolute;
  background-color: #fff;
  right: 50px;
  top: 50px;
  width: 20rem;
  height: 20rem;
}

.priceContainerStyle {
  position: absolute;
  top: 20%;
  right: 20%;
}

.right img {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.headingContainer {
  width: 55%;
  position: absolute;
  z-index: 2;
}
