.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
}

.container img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
  grid-area: 1/1/1/2;
}

.detailsContainer {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  margin-top: 2px;
  grid-area: 1/2/1/4;
}

.detailsContainer h4 {
  font-size: 1rem;
}

.brandContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.priceContainer {
  width: 100%;
  grid-area: 1/4/1/5;
}
.priceContainer .btnContainer {
  flex-shrink: 0;
  flex-grow: 0;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  grid-area: 1/5/1/6;
}
.removeBtn {
  all: unset;
  color: var(--primaryColour);
  margin-bottom: 1rem;
  cursor: pointer;
}
.removeBtn:hover {
  color: var(--primaryColourDark);
}
