.container {
  height: 300px;
  background: #fed2d1;
  position: relative;
  display: flex;
  flex: 1;
  
}
.left {
  flex: 0.4;
  padding: 5rem;
}

.right {
  position: relative;
  flex: 0.5;
}

.circleContainer {
  position: absolute;
  background-color: #fed2d1;
  border-style: solid;
  border-color: #fff;
  border-width: 8px;
  right: 0;
  top: 20px;
}

.img {
  width: 400px;
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 1;
  margin: auto 0;
}

.priceContainerStyle {
  position: absolute;
  top: 25%;
  margin-right: -40px;
}
