.carouselLayout {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}

.carouselContainer {
  display: flex;
  overflow: hidden;
  max-height: 500px;
}

.carouselImage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  transition: translate 0.3s ease-in-out;
  gap: 2rem;
  align-items: center;
  max-height: 500px;
}

/* Left Side Section / Product details */
.gridLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.gridLeft > p {
  font-family: "Poppins", sans-serif;
  font-size: 0.833rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.gridLeft > h1 {
  font-size: 1.44rem;
}

/* Right Side Section / Product Image Price */

.gridRight {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  object-fit: contain;
  position: relative;
  z-index: 3;
}

.heading {
  font-size: 1.728rem;
  margin-bottom: 1.44rem;
}

.subHeading {
  font-family: "poppins", sans-serif;
  font-size: 0.833rem;
  margin-bottom: 1.5rem;
}

.circleStyle {
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  right: 1rem;
  top: 1rem;
  background-color: var(--primaryColour);
}

.carouselBtn {
  all: unset;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 2rem;
  cursor: pointer;
}

.dotsBtnContainer {
  position: absolute;
  left: 50%;
  translate: -50%;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.dotBtn {
  all: unset;
  display: block;
  cursor: pointer;
}

.dotBtn:hover {
  scale: 1.2;
  transition: scale 0.3s ease-in;
}

.dotsBtnContainer > * {
  color: #fbbf27;
}

@media (max-width: 575.98px) {
  .carouselImage {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: translate 0.3s ease-in-out;
    gap: 2rem;
    align-items: center;
    min-height: 500px;
  }

  .dotsBtnContainer {
    position: absolute;
    left: 50%;
    translate: -50%;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    bottom: 5px;
  }

  .gridRight {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
  }
  .circleStyle {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    right: 1rem;
    top: 1rem;
    background-color: var(--primaryColour);
    display: none;
  }
  .img {
    object-fit: cover;
    width: 100%;
  }
}

/* Small Devices (Tablets) - 576px to 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  .carouselImage {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    transition: translate 0.3s ease-in-out;
    gap: 2rem;
    align-items: center;
    max-height: 500px;
  }
 

  .dotsBtnContainer {
    position: absolute;
    left: 50%;
    translate: -50%;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    bottom: 5px;
  }

  .gridRight {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
  }
  .circleStyle {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    right: 1rem;
    top: 1rem;
    background-color: var(--primaryColour);
    display: none;
  }
  .img {
    object-fit: cover;
    width: 100%;
  }
}

/* Medium Devices (Laptops, Small Desktops) - 768px to 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for medium devices */
}

/* Large Devices (Desktops) - 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large devices */
}

/* Extra Large Devices (Large Desktops, TVs) - 1200px and larger */
@media (min-width: 1200px) {
}
