.container {
  padding: 0 3rem;
  margin: 2.5rem 0;
}

.forYouContainer h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.forYouContainer {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  display: flex;
  margin: 5rem 0;
  justify-content: center;
}


/* Extra Small Devices (Phones) - Less than 576px */
@media (max-width: 575.98px) {
  .container {
    padding: 0 1.1rem;
    margin: 2rem 0;
  }
}

/* Small Devices (Tablets) - 576px to 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
 
}

/* Medium Devices (Laptops, Small Desktops) - 768px to 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
 
}

/* Large Devices (Desktops) - 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra Large Devices (Large Desktops, TVs) - 1200px and larger */
@media (min-width: 1200px) {
}
