.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.container button {
  all: unset;
  cursor: pointer;
}

.container > * {
  cursor: pointer;
}

.selected {
  color: #fbbf27;
  font-size: 1.2rem;
}

.notSelected {
  color: black;
  font-size: 0.833rem;
}
