.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.container button {
  all: unset;
  cursor: pointer;
}

.container > * {
  cursor: pointer;
}

.selected {
  color: #fbbf27;
  font-size: 1.2rem;
}

.notSelected {
  color: black;
  font-size: 0.833rem;
}

/* Extra Small Devices (Phones) - Less than 576px */
@media (max-width: 575.98px) {
  
}

/* Small Devices (Tablets) - 576px to 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
   
}

/* Medium Devices (Laptops, Small Desktops) - 768px to 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

/* Large Devices (Desktops) - 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra Large Devices (Large Desktops, TVs) - 1200px and larger */
@media (min-width: 1200px) {
}
