.circleStyle {
  position: absolute;
  background-color: #ffffff;
  right: 50px;
  top: 50px;
  width: 20rem;
  height: 20rem;
}

.priceContainerStyle {
  position: absolute;
  top: 20%;
  right: 20%;
}

.productImage {
  position: absolute;
  object-fit: scale-down;
  bottom: 0;
  left: 5%;
  height: 80%;
}

.headingContainer {
  width: 55%;
  position: absolute;
  z-index: 2;
}

.errorMessage {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}