.container {
  margin: 2.5rem 0;
  display: flex;
  column-gap: 10px;
  height: 600px;

}

.left {
  background: rgb(227, 227, 227);
  overflow: hidden;
  flex: 0.5;
  position: relative;
}

.right {
  background-color: var(--primaryColour);
  flex: 1;
  position: relative;
}
