.container {
  display: grid;
  display: flex;
  column-gap: 10px;
  height: 600px;
}
.cicle {
  position: absolute;
  right: 20px;
  width: 130px;
  height: 130px; 
  background-color: var(--primaryColour);
}

.image {
  position: absolute;
  left: 0;
  width: 80%;
  bottom: 0;
  object-fit: scale-down;
}

.right {
  background-color: #5dd4a5;
  flex: 1;
}

.errorMessage {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}