.container {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  min-height: 500px;

}
.circleStyle {
  position: absolute;
  right: 20px;
  width: 130px;
  height: 130px;
  background-color: var(--primaryColour);
  z-index: 1;
}

.productImage {
  position: absolute;
  object-fit: scale-down;
  z-index: 5;
}

.errorMessage {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

/* Extra Small Devices (Phones) - Less than 576px */
@media (max-width: 575.98px) {
  .container {
    display: flex;
    flex-direction: column;
    display: flex;
    column-gap: 10px;
    position: relative;
    height: 100%;
    background-color: var(--primaryColour);
  }

  .productImage {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    z-index: 5;
    right: 0;
    max-height: 100%;
    max-width: 82%;
  }

  .circleStyle {
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: #fff;
    left: 20px;
    top: 33%;
    z-index: 1;
  }
}

/* Small Devices (Tablets) - 576px to 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    display: flex;
    flex-direction: column;
    display: flex;
    column-gap: 10px;
    position: relative;
    height: 100%;
    background-color: var(--primaryColour);
  }

  .productImage {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    z-index: 5;
    right: 0;
    max-height: 100%;
    max-width: 82%;
  }

  .circleStyle {
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: #fff;
    left: 20px;
    top: 33%;
    z-index: 1;
  }
}

/* Medium Devices (Laptops, Small Desktops) - 768px to 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    display: flex;
    flex-direction: column;
    display: flex;
    column-gap: 10px;
    position: relative;
    height: 100%;
    background-color: var(--primaryColour);
  }

  .productImage {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    z-index: 5;
    right: 10%;
    max-height: 70%;
    max-width: 85%;
  }

  .circleStyle {
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #fff;
    left: 30px;
    top: 25%;
    z-index: 1;
  }
}

/* Large Devices (Desktops) - 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    display: flex;
    flex-direction: column;
    display: flex;
    column-gap: 10px;
    position: relative;
    height: 100%;
    background-color: var(--primaryColour);
  }

  .productImage {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    z-index: 5;
    right: 10%;
    max-height: 100%;
    max-width: 85%;
  }

  .circleStyle {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #fff;
    left: 30px;
    top: 33%;
    z-index: 1;
  }
}

/* Extra Large Devices (Large Desktops, TVs) - 1200px and larger */
@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    display: flex;
    column-gap: 10px;
    position: relative;
    height: 100%;
    background-color: var(--primaryColour);
     
  }

  .productImage {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    z-index: 5;
    right: 10%;
    max-height: 100%;
    max-width: 100%;
  }

  .circleStyle {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #fff;
    left: 5%;
    top: 33%;
    z-index: 1;
  }
}
