.container {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  min-height: 400px;
 
}
.cicle {
  position: absolute;
  right: 20px;
  width: 130px;
  height: 130px;
  background-color: var(--primaryColour);
}

.image {
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: scale-down;
}

 

/* Extra Small Devices (Phones) - Less than 576px */
@media (max-width: 575.98px) {
  .container {
    display: flex;
    flex-direction: column;
    display: flex;
    column-gap: 10px;
    position: relative;
    height: 100%;
  }

  .image {
    position: absolute;
    left: -25px;
    max-height: 300px;
    bottom: 0;
    object-fit: cover;
  }

  .cicle {
    position: absolute;
    right: 20px;
    width: 180px;
    height: 180px;
    background-color: var(--primaryColour);
    top: 35%;
  }
}

/* Small Devices (Tablets) - 576px to 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    position: relative;
    height: 100%;
  }

  .image {
    position: absolute;
    left: 10%;
    max-height: 80%;
    bottom: 0;
    object-fit: cover;
  }

  .cicle {
    position: absolute;
    right: 10%;
    width: 200px;
    height: 200px;
    background-color: var(--primaryColour);
    top: 35%;
  }
}

/* Medium Devices (Laptops, Small Desktops) - 768px to 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    position: relative;
    height: 100%;
  }

  .image {
    position: absolute;
    left: 10px;
    max-height: 60%;
    bottom: 0;
    object-fit: cover;
  }

  .cicle {
    position: absolute;
    right: 10%;
    width: 200px;
    height: 200px;
    background-color: var(--primaryColour);
    top: 35%;
  }
}

/* Large Devices (Desktops) - 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    position: relative;
    height: 100%;
  }

  .image {
    position: absolute;
    left: 5%;
    max-height: 70%;
    bottom: 0;
    object-fit: cover;
  }

  .cicle {
    position: absolute;
    right: 10%;
    width: 240px;
    height: 240px;
    background-color: var(--primaryColour);
    top: 25%;
  }
}

/* Extra Large Devices (Large Desktops, TVs) - 1200px and larger */
@media (min-width: 1200px) {
  .container {
    position: relative;
    height: 100%;
  }

  .image {
    position: absolute;
    left: 5%;
    max-height: 80%;
    bottom: 0;
    object-fit: cover;
  }

  .cicle {
    position: absolute;
    right: 5%;
    width: 300px;
    height: 300px;
    background-color: var(--primaryColour);
    top: 25%;
  }
}
