.container {
  background-color: #2A4737;
  min-height: 200px;
  display: flex; 
  align-items: center;
  color: #fff;
  position: relative;
  margin: 3rem 0;
}
.link {
  color: #76ce9e;
}

.itemContainer {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.itemContainer h1 {
  font-size: 1.2rem;
}

.itemContainer h4 {
  font-size: 0.833rem;
  font-family: 'poppins', sans-serif;
  letter-spacing: 1px;
}

.container img {
  position: absolute;
  height: 130%;
  right: 5rem;
  top: -3rem;
}


/* Extra Small Devices (Phones) - Less than 576px */
@media (max-width: 575.98px) {
  .container {
    background-color: #2A4737;
    min-height: 200px;
    display: flex; 
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    margin: 1rem 0;
    gap: 1rem;
  }

  .itemContainer h1 {
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .itemContainer h4 {
    font-size: 0.9rem;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
  }

  .container img {
    position: relative;
    height: 40%;
    right: 0;
    top: 0;
    margin-bottom: 10px;
    width: 35%;
  }

  .itemContainer {
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
  }
}

/* Small Devices (Tablets) - 576px to 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    background-color: #2A4737;
    min-height: 200px;
    display: flex; 
    align-items: center;
    color: #fff;
    position: relative;
    margin: 3rem 0;
  }
  .link {
    color: #76ce9e;
  }
  
  .itemContainer {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .itemContainer h1 {
    font-size: 1.2rem;
  }
  
  .itemContainer p {
    font-size: 0.833rem;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
  }
  
  .container img {
    position: absolute;
    height: 130%;
    right: 5rem;
    top: -2.4rem;
  }
  
}

/* Medium Devices (Laptops, Small Desktops) - 768px to 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

/* Large Devices (Desktops) - 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra Large Devices (Large Desktops, TVs) - 1200px and larger */
@media (min-width: 1200px) {
}
